<et-page-header title="'Upload Seat Bookings'"></et-page-header>

<button class="btn btn-warning btn-lg" ng-model="model.show" btn-checkbox style="margin-bottom: 10px;">
  Upload&nbsp;<i class="fa" ng-class="{'fa-chevron-circle-down': model.show, 'fa-chevron-circle-right': !model.show}"></i>
</button>

<div class="row toppad leftpad bottompad" collapse="!model.show">
  <form role="form" name="upload_form" xt-form novalidate class="col-md-7" enctype="multipart/form-data">
    <div class="form-group">
      <label for="train">Train</label>
      <ui-select name="trains" ng-model="model.train" theme="select2" xt-validate required style="width:100%;">
        <ui-select-match placeholder="-- Select Train --">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="train in trainList | filter: $select.search">
          <strong ng-bind-html="train.name | highlight: $select.search"></strong>
        </ui-select-choices>
      </ui-select>
    </div>
    <div ng-if="!model.selectedFile">
      <label for="fileInput">Choose a file for upload</label>
      <input type="file" ng-model="fileInput" ng-file-select="onFileSelect($files)" id="fileInput" accept="text/csv, .csv" />
      <p class="help-block">Acceptable file formats is csv</p>
    </div>
    <div ng-if="model.selectedFile">
      <h3 class="text-primary">{{model.selectedFile.name}}</h3>
      <h4>{{fileSize(model.selectedFile.size)}}
        <small ng-show="model.selectedFile.type">({{fileForm.selectedFile.type}})</small>
        <small ng-hide="model.selectedFile.type">(Unknown type)</small>
      </h4>
    </div>

    <button class="btn btn-sm btn-primary" ng-disabled="upload_form.$invalid" ng-show="model.selectedFile" ng-click="onClickUpload()">
      <span class="fa fa-check"></span>&nbsp;Upload</button>
    <button class="btn btn-sm " ng-click="clearForm(true)">
      <span class="fa fa-refresh"></span>&nbsp;Clear</button>
    <button class="btn btn-sm btn-danger" ng-click="clearForm(false)">
      <span class="fa fa-times"></span>&nbsp;Cancel</button>

  </form>
</div>
