<et-page-header title="'Report'"></et-page-header>
<div class="row bottompad">
  <form role="form" name="reportForm" class="col-md-5" xt-form novalidate>
    <div class="form-group">
      <label for="user" class="control-label">User</label>
      <ui-select name="users" ng-model="model.user" theme="select2" xt-validate required style="width:100%;">
        <ui-select-match placeholder="-- Select User --">{{$select.selected.getName()}}</ui-select-match>
        <ui-select-choices repeat="user in userList | filter: $select.search">
          <strong ng-bind-html="user.getName() | highlight: $select.search"></strong>
        </ui-select-choices>
      </ui-select>
    </div>
    <button class="btn btn-sm btn-primary" ng-click="generateReport()" ng-disabled="reportForm.$invalid">
      <span class="fa fa-check"></span>&nbsp;Generate</button>
  </form>
</div>
<table ng-table="tableParams" template-pagination="/app_components/common/paging.tpl.html" show-filter="false" class="table table-striped table-condensed">
  <caption class="table-caption">
    <div class="pull-left">
      <strong>Seat Bookings
        <span ng-if="model.reportUser.getName()">by {{model.reportUser.getName()}} (Total: Rs.{{model.totalFare}})</span>
      </strong>
    </div>
    <div class="total-records pull-right">
      Total {{ params.settings().itemLabel || 'items' }}:
      <strong>{{totalElements}}</strong>
    </div>
  </caption>
  <tbody ng-repeat="seatbooking in $data">
    <tr ng-class="{'danger':seatbooking.cancelled===true}">
      <td width="15px" data-title="'S.No.'">
        <span class="leftpad">
          <strong>{{ (params.page() - 1) * params.count() + $index + 1 }}</strong>
        </span>
      </td>
      <td class="col-md-2" data-title="'Departure Date'">{{seatbooking.departureDate | date:'dd MMMM yyyy'}}</td>
      <td class="col-md-1" data-title="'From'">{{seatbooking.fromStation}}</td>
      <td class="col-md-1" data-title="'To'">{{seatbooking.toStation}}</td>
      <td class="col-md-2" data-title="'Pct Number'" sortable="'pctNo'">{{seatbooking.pctNo}}</td>
      <td class="col-md-2" data-title="'Passenger Name'" sortable="'passengerName'">{{seatbooking.passengerName}}</td>
      <td class="col-md-2" data-title="'Passenger CNIC'" sortable="'passengerCnic'">{{seatbooking.passengerCnic}}</td>
      <td class="col-md-1" data-title="'Fare'" sortable="'amount'">
        <span ng-if="seatbooking.amount">Rs. {{seatbooking.amount}}</td>
      <td class="col-md-1" data-title="'Luggage'" sortable="'luggageAmount'">
        <span ng-if="seatbooking.luggageAmount">Rs. {{seatbooking.luggageAmount}}</td>
      <td class="col-md-1 text-center" data-title="'Penalty'">
        <i ng-if="seatbooking.penalty" class="fa fa-fw fa-ticket text-danger"></i>
      </td>
      <td class="col-md-1 text-center" data-title="'Cancelled'">
        <i ng-if="seatbooking.cancelled" class="fa fa-fw fa-check-square-o text-danger"></i>
      </td>
    </tr>
  </tbody>
  <tbody ng-if="$data.length === 0">
    <tr>
      <td colspan="11">
        <div class="text-center">
          <h4>
            <small>No results matched the filter</small>
          </h4>
        </div>
      </td>
    </tr>
  </tbody>
</table>