<table class="table table-striped table-condensed">
  <tbody>
    <tr ng-repeat="item in items">
      <td><a href='{{item.links.self}}'>{{item.name}}</a>
      </td>
    </tr>
  </tbody>
</table>
<span>{{items.page.totalElements}} of {{items.page.size}} remaining</span>