<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pakistan Railways</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active: $state.includes('seatbooking')}"><a ui-sref="seatbooking">Seat Bookings</a>
      </li>
      <li ng-class="{active: $state.includes('report')}"><a ui-sref="report">Reports</a>
      </li>
    </ul>
  </div>
</nav>