<!-- page title -->
<div style="height: 39px; margin: 20px 0px;">
  <div class="page-header" mac-affix mac-affix-top="85">
    <h1>{{title}}
      <small ng-if="subtitle">{{subtitle}}</small>
    </h1>
  </div>
</div>
<!-- notifications -->
<div growl inline="true"></div>
