<!-- This will be included in every file which uses custom pagination for ng-table -->
<div class="ng-cloak ng-table-pager row">
  <div class="col-md-7 pull-left">
    <ul class="pagination ng-table-pagination">
      <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>
        <a ng-switch-when="first" ng-click="params.page(page.number)" href="">
          <span ng-bind="page.number"></span>
        </a>
        <a ng-switch-when="page" ng-click="params.page(page.number)" href="">
          <span ng-bind="page.number"></span>
        </a>
        <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
        <a ng-switch-when="last" ng-click="params.page(page.number)" href="">
          <span ng-bind="page.number"></span>
        </a>
        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo; </a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 pull-right text-right pagination">
    {{ params.settings().itemLabel || 'Items' }} per page
    <select ng-model="pageSize" ng-change="params.count(pageSize)">
      <option ng-repeat="count in params.settings().counts" ng-selected="count == params.count()">
        {{count}}
      </option>
    </select>
  </div>
</div>