/* Main CSS file for SDE. All the CSS rules will be written in this file and should correspond to SASS syntax */

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

$fa-font-path: "/bower_components/font-awesome/fonts";

@import "font-awesome/scss/font-awesome";

@import "compass/css3/images";
@import "compass/utilities/general/hacks";
@import "compass/css3/shared";

// include removed bootstrap contextual badge classes
.badge-default {
  @include label-variant($label-default-bg);
}

.badge-primary {
  @include label-variant($label-primary-bg);
}

.badge-success {
  @include label-variant($label-success-bg);
}

.badge-info {
  @include label-variant($label-info-bg);
}

.badge-warning {
  @include label-variant($label-warning-bg);
}

.badge-danger {
  @include label-variant($label-danger-bg);
}

.underline {
  border-bottom: 1px dotted $abbr-border-color;
}

$border: 1px solid #DDD;

@mixin set-border($border) {
  border-right: $border;
  border-left: $border;
}

@mixin set-background-color($color) {
  background-color: $color;
}

/* xtform validation style */
.xt-error {
  border-color: $state-danger-text;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
  &:focus {
    border-color: darken($state-danger-text, 10%);
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-text, 20%);
    @include box-shadow($shadow);
  }
}

/* ng-loading bar style */
#loading-bar .bar {
  height: 3px;
}

.nowrap {
  white-space:nowrap;
}

.leftpad {
  padding-left: 10px;
}

.rightpad {
  padding-right: 10px;
}

.padding {
  padding:10px;
}

.toppad {
  padding-top: 10px;
}

.bottompad {
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

.wide {
  margin: 0 -15px;
}

.bold {
  font-weight: bold;
}

.text-left {
  text-align: left !important;
}

#title.affix {
  z-index: 1000;
  // have to hard-code width as fixed style needs width
  width: 12800px;
}

.page-header {
  /* these two properties are for animating the page header after affix is applied */
  position: static;
  top: -32px;
  width: 100%;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.page-header.affix {
  position: fixed;
  /*where the affixed control shud be placed*/
  top: 40px;
  z-index: 10;
  margin-left: -15px;
  padding-left: 15px;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  border-bottom: 1px solid #d6d6d6;
  background-color: $state-info-bg;
  color: $state-info-text;
  @include transition(top 0.6s ease-in-out);
}

.strike, .strike span, .strike label {
  text-decoration: line-through;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* padding top for fixed header */
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.select2-container-multi .select2-choices .or {
  color: #888;
  cursor: not-allowed;
  border: 1px solid #888;
  background-color: #FFF;
}

.select2-container-multi .select2-choices .constant {
  color: #444;
  cursor: ew-resize;
  border: 1px solid #666;
  background-color: #EEEEEE;
}

.select2-container-multi .select2-choices .locked {
  color: $label-color;
  cursor: ew-resize;
  border: 1px solid $label-primary-bg;
  background-color: $label-primary-bg;
}

.select2-container-multi .select2-choices .parameter {
  cursor: ew-resize;
  color: $label-color;
  background-color: $label-success-bg;
  border: 1px solid $label-success-bg;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
  margin-bottom: 5px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 0px;
  pointer-events: none;
  margin-right: 5px;
}

.description {
  margin-top: 5px;
  margin-bottom: 0;
}

.ok-btn {
  float: right;
}

.cancel-btn, .delete-btn {
  float: right;
  margin-right: 5px;
}

.readonly-input {
  margin-bottom: 5px;
  cursor: pointer !important;
}

.btn-container {
  margin-top: 5px;
}

.total-records {
  position: relative;
  display:inline-block;
  margin-left: -1px;
  margin-right: 10px;
  padding: 3px 15px;
  color: #777;
  background-color:#F8F8F8;
  border: 1px solid #DDD;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size:11px;
  line-height: 1.42;
  white-space: nowrap;
}

.total-records div {
  line-height:35px;
}

caption.table-caption {
 border-bottom: 2px solid #DDD;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.gradient-table {
    tr.details {
      @include set-border($border);
      border-bottom: 2px solid #DDD;
      border-top: 0;
      @include set-background-color(red);
    }

    tr.details td, tr.details tr, tr.details table {
      background:none;
    }

    tr.details table {
      margin-bottom: 0px;
    }

    tr.details table th {
      color: #555;
      @include set-background-color(#DDD);
    }

    th.filter{
      background-color: #F0EEFF !important;
    }

    tr.details table {
      border: 1px solid #CCC;
    }

    tr.details table td.details-table {
      border-top: 0;
    }

    tr.details > td {

      @include filter-gradient(rgba(253,253,253,1), rgba(238,238,238,1));
      /* Fallback: */
      background: #cccccc;
      /* CSS 3 plus vendor prefixes: */
      @include background(linear-gradient(rgba(253,253,253,1), rgba(238,238,238,1)));
    }

    tr.expanded {
      @include set-border($border);
      border-top: 1px solid #DDD;
      border-bottom: 0;
    }

    tr.expanded td {
      position:static;
    }
}

.navbar {
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  border-bottom: 1px solid #d1d4d7;
  background-color: #fff;
}

.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid #e3e9ed;
}

.navbar-brand img {
  max-height: 50px
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  color: #22baa0;
}

// slide in animation
.fx-slide-in {
  &.ng-enter, &.ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
    @include transition(all 0.5s ease-in-out);
  }
  &.ng-leave {
    left: 0;
  }
  &.ng-leave-active {
    left: -100%;
  }
  &.ng-enter {
    left: 100%;
  }
  &.ng-enter-active {
    left: 0;
  }
}

.dl-horizontal dt {
  width: 100px;
}
.dl-horizontal dd {
  margin-left: 110px;
}

.wave-spinner {
  margin: 0 auto;
}

.wave-spinner > div {
  background-color: $label-success-bg;
}

// Use this class to hide fa-icons
.icon-invisible {
    visibility: hidden;
}

// Product details
.details.productDetails {
  font-size: 11px;
}

.details.productDetails th {
  font-size: 13px;
}

.details.productDetails span.btn.btn-xs {
  padding: 3px 3px;
  line-height: 1em;
  height: 1.5em;
}

.details.productDetails span.parameterName {
  color: #555;
}

.details.productDetails span.parameterName.text-danger {
  color: #A94442;
}

.details.productDetails span.parameterValue, .details.productDetails span.attributeName {
  font-weight: bold;
}

.details.productDetails span.parameterValue.text-warning {
  color: #8A6D3B;
}

.inner-table {
  border: 1px solid #CCC;
}

.details.productDetails .container {
  width: 100%;
}
.details.productDetails .header-row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #D8D8D8;
  min-height: 28px;
  vertical-align: middle;
}

.details.productDetails .header-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
  min-height: 23px;
}

.details.productDetails .header-row:first-child {
  padding-top: 0;
  min-height: 23px;
}

.badge {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}